.header {
  position: absolute; /* places it on top of the background */
  top: 20px; /* space from top */
  left: 50%; 
  transform: translateX(-50%); /* center horizontally */
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 20px;
  background: rgba(255, 255, 255, 0.1); /* transparent background */
  backdrop-filter: blur(8px); /* gives a frosted glass look */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 30px / 50%;
  border: 1px solid white;
}

.header a {
  color: #fff; /* white text */
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
  animation: fadeLink 2s infinite alternate;
}
@keyframes fadeLink {
  0% { opacity: 0.4;}
  100% {opacity: 1; }
}


.header a:hover {
  color: #ffcc00; /* nice hover effect */
}
