.projects{
  height:800px;
  width:100%;
  background-color: #05e3eb;
  /*box-shadow: 
    0 0 10px #03F5FC,
    0 0 20px #03F5FC,
    0 0 40px #03F5FC;*/
}

.textsection-projects {
  color: white;
  padding-top: 50px;
  padding-left: 50px;
  font-family: "Orbitron", sans-serif; /* better than Orbitron */
}

.textsection-projects h1 {
  font-size: 130px;
  font-weight: 700;
  margin: 0;
  line-height: 0.9;
}

.textsection-projects h3 {
  font-size: 90px;
  font-weight: 500;
  margin: 0;
  line-height: 0.9;
  opacity: 0.85;
  margin-left: 250px;
}
/*project section*/




